<launch>

  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find merakm_description)/urdf/merakm.xacro'" />

  <!-- Spawn the robot model -->
  <node name="movil" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model merakm -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />

</launch>
