<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find merakm_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find merakm_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find merakm_navigation)/launch/move_base_astar_dwa.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- move_base - global planner rrt - local planner dwa -->
  <!--include file="$(find merakm_navigation)/launch/move_base_rrt_dwa.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include-->
  
  <!-- move_base - global planner simple - local planner dwa >
  <include file="$(find merakm_navigation)/launch/move_base_astar_simple.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include-->

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find merakm_navigation)/rviz/merakm_navigation.rviz"/>
  </group>
</launch>
